h2{
margin-bottom: 10rem;
font-size:30px;
}
.head{
    font-size: 30px;
    color:rgb(47, 63, 58);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 16rem;
}